<!DOCTYPE html>
<html>
<head>
  <title>Historique des parties</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
  <h1>📜 Historique des parties</h1>
  <table>
    <tr>
      <th>Joueur 1</th>
      <th>Joueur 2</th>
      <th>Vainqueur</th>
      <th>Coups joués</th>
      <th>Gravité finale</th>
    </tr>
    {{range .}}
    <tr>
      <td>{{.Player1}}</td>
      <td>{{.Player2}}</td>
      <td>{{.Winner}}</td>
      <td>{{.MoveCount}}</td>
      <td>{{.Gravity}}</td>
    </tr>
    {{end}}
  </table>
  <a href="/" class="button">🏠 Retour au menu</a>
</body>
</html>