<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victoire !</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
</head>
<body>
    <h1 class="victory">🎉 {{.WinnerName}} a gagné !🎉</h1>
    <table>
        {{range .Grid}}
        <tr>
            {{range .}}
            <td>
                {{if eq . 1}}<div class="token red"></div>{{end}}
                {{if eq . 2}}<div class="token yellow"></div>{{end}}
                {{if eq . 0}}<div class="token empty"></div>{{end}}
            </td>
            {{end}}
        </tr>
        {{end}}
    </table>
    <form action="/rematch" method="post">
        <button type="submit">🔁 Rejouez avec avec les mêmes paramètres</button>
    </form>
    <br>
    <a href="/" class="button">🏠 Retournez au menu</a>
</body>
</html>